### Pandas

In [1]:
import pandas as pd

## Level 1: The Basics (Loading & Inspecting)

Q1 Load the Data: Create a pandas DataFrame by reading the CSV file from the URL provided above. Name the DataFrame housing_df.

In [3]:
housing_df = pd.read_csv("california_housing_train.csv")

Q2 First Look: Display the first 10 rows of the DataFrame to get a feel for the data

In [5]:
housing_df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

Q3 Check the Shape: How many rows and columns are in the dataset?

In [6]:
housing_df.shape

(17000, 9)

Q4 Basic Info: Use the .info() method to see the data type of each column and check for any missing values.

In [7]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

Q5 Select a Column: Select and display only the median_house_value column. What is the type of this object?

In [8]:
median_house_value = housing_df["median_house_value"]
print(type(median_house_value))
print(median_house_value)

<class 'pandas.core.series.Series'>
0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

Q6 select Multiple Columns: Create a new, smaller DataFrame called location_df that contains only the latitude and longitude columns.

In [10]:
lat_long = housing_df[["latitude","longitude"]]
print(lat_long)

       latitude  longitude
0         34.19    -114.31
1         34.40    -114.47
2         33.69    -114.56
3         33.64    -114.57
4         33.57    -114.57
...         ...        ...
16995     40.58    -124.26
16996     40.69    -124.27
16997     41.84    -124.30
16998     41.80    -124.30
16999     40.54    -124.35

[17000 rows x 2 columns]

## Level 2: Filtering & Selection (Slicing & Dicing)

Q1 Conditional Filtering: Create a new DataFrame called new_homes_df that contains only the houses where the housing_median_age is 10 years or less. How many such houses are there?

In [13]:
new_homes_df = housing_df[housing_df["housing_median_age"] <=10 ]
print(new_homes_df.count())

longitude             1313
latitude              1313
housing_median_age    1313
total_rooms           1313
total_bedrooms        1313
population            1313
households            1313
median_income         1313
median_house_value    1313
dtype: int64

Q2 Multi-Condition Filtering: Find all the houses that have more than 5000 total_rooms and a population of less than 1500 people.

In [15]:
q = housing_df[housing_df["total_rooms"] > 5000]
q = q[housing_df["population"] < 1500]
q

C:\Users\cvish\AppData\Local\Temp\ipykernel_28576\1978433486.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  q = q[housing_df["population"] < 1500]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
172,-116.26,33.65,3.0,7437.0,1222.0,574.0,302.0,10.2948,382400.0
193,-116.37,33.69,7.0,8806.0,1542.0,858.0,448.0,7.8005,318100.0
209,-116.42,33.79,12.0,7095.0,1260.0,1179.0,570.0,4.9444,285000.0
218,-116.44,33.93,17.0,5293.0,1266.0,1201.0,599.0,1.6849,88400.0
222,-116.45,33.78,16.0,5228.0,992.0,1177.0,639.0,3.0859,134600.0
235,-116.49,33.80,13.0,8789.0,1875.0,1274.0,688.0,3.7396,148900.0
258,-116.54,33.80,22.0,6050.0,1387.0,1432.0,890.0,2.2216,183900.0
284,-116.75,33.83,16.0,5277.0,1070.0,657.0,276.0,3.3333,143400.0
299,-116.82,34.24,11.0,5799.0,1527.0,713.0,262.0,2.5147,84700.0
300,-116.83,34.25,15.0,8948.0,1985.0,1316.0,514.0,2.7375,90800.0
306,-116.85,34.25,5.0,5806.0,1030.0,569.0,219.0,4.0132,163100.0
389,-116.94,34.24,27.0,12342.0,2630.0,1300.0,566.0,1.9980,153500.0
490,-116.99,34.30,29.0,5055.0,1036.0,410.0,191.0,3.5104,157100.0
1316,-117.16,34.26,27.0,9285.0,1621.0,1135.0,410.0,2.5446,135200.0
1390,-117.17,32.68,16.0,5895.0,1424.0,873.0,522.0,7.3669,187500.0
1432,-117.19,34.27,16.0,7961.0,1147.0,879.0,280.0,5.2146,255200.0
1475,-117.20,34.26,17.0,9419.0,1455.0,1382.0,459.0,6.2233,230900.0
1476,-117.20,34.24,22.0,8106.0,1665.0,1062.0,423.0,3.0434,137200.0
1819,-117.27,34.23,26.0,6339.0,1244.0,1177.0,466.0,3.7708,110400.0
2205,-117.38,33.14,14.0,5039.0,1373.0,1298.0,696.0,3.2090,313300.0
2771,-117.70,33.51,2.0,5261.0,763.0,1460.0,599.0,6.8279,279000.0
9069,-118.99,37.63,10.0,7744.0,1573.0,483.0,224.0,3.2917,231800.0
9426,-119.23,34.19,16.0,5297.0,810.0,1489.0,667.0,6.4522,500001.0
10261,-120.00,38.93,17.0,8005.0,1382.0,999.0,383.0,3.9722,313400.0
10284,-120.03,38.19,26.0,7005.0,1358.0,416.0,189.0,2.1250,132500.0
10377,-120.18,39.28,14.0,10098.0,1545.0,701.0,254.0,4.0819,141300.0
10398,-120.22,39.20,22.0,8259.0,1409.0,845.0,353.0,3.3699,244000.0
10415,-120.26,39.32,24.0,6012.0,1227.0,780.0,358.0,3.0043,122100.0
10448,-120.34,38.25,17.0,5497.0,1056.0,997.0,408.0,2.9821,111500.0
11300,-121.15,40.25,14.0,5156.0,880.0,616.0,281.0,3.3462,145200.0
13726,-122.00,37.40,17.0,5121.0,1017.0,1470.0,968.0,2.9706,81300.0
16854,-123.49,38.70,9.0,5409.0,1019.0,594.0,327.0,3.3125,295400.0

Q3 Positional Selection (.iloc): Select the rows from position 100 to 105 (inclusive) and the columns from position 3 to 5 (inclusive)

In [17]:
d = housing_df.iloc[100:106,3:6]
d

     total_rooms  total_bedrooms  population
100       2183.0           307.0      1000.0
101        935.0           177.0       649.0
102        709.0           187.0       390.0
103       1629.0           317.0      1005.0
104       1121.0           244.0       766.0
105       1009.0           231.0       745.0

Q4 Label-based Selection (.loc): Find the median_income for the houses at index positions 8 and 13. (Note: Since the default index is numerical, .loc here will behave similarly to .iloc for single rows, but it's good practice to use it when thinking about labels).

In [19]:
e = housing_df.loc[[8,13],"median_income"]
e

8     2.1782
13    3.2120
Name: median_income, dtype: float64

Q5 Find the Richest Household: What is the highest median_income in the dataset? Find the entire row of data for the household that has this highest income. (Hint: You can use the .idxmax() method).

In [23]:
a = housing_df.idxmax()
d = housing_df.loc[a["median_income"]]
d

longitude               -117.2300
latitude                  32.9900
housing_median_age        17.0000
total_rooms             2718.0000
total_bedrooms           326.0000
population              1011.0000
households               319.0000
median_income             15.0001
median_house_value    500001.0000
Name: 1625, dtype: float64

## Level 3: Manipulation & Aggregation (Data Analysis)

Q1 Create a New Column: Create a new column called avg_rooms_per_person. This should be calculated by dividing the total_rooms column by the population column.

In [24]:
housing_df["avg_rooms_per_person"] = housing_df["total_rooms"] / housing_df["population"]
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,avg_rooms_per_person
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,5.529064
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,6.775908
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,2.162162
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,2.914563
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,2.330128
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,2.444322
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,1.967337
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,2.151929
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,2.058552
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,2.258065

Q2 Sorting: Find the 10 districts with the lowest population. Display your result sorted by population in ascending order. (Hint: Use .sort_values()).

In [26]:
housing_df.sort_values(by=["population"],ascending=True).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,avg_rooms_per_person
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.536,350000.0,6.000000
2990,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.375,137500.0,0.333333
14105,-122.06,37.39,26.0,18.0,4.0,8.0,4.0,3.750,375000.0,2.250000
2907,-117.76,35.22,4.0,18.0,3.0,8.0,6.0,1.625,275000.0,2.250000
288,-116.76,34.14,4.0,42.0,10.0,9.0,3.0,0.536,42500.0,4.666667

Q3 Binning and Grouping: Let's create our own categories.

First, create a new column called age_group.

This column should categorize houses as 'New' (if housing_median_age < 15), 'Old' (if housing_median_age > 35), or 'Medium' for everything in between.

Now, group by your new age_group column and find the average median_house_value for each group. (Hint: Use .groupby()).

In [32]:
# First, create the column with the default value 'Medium'
housing_df['age_group'] = 'Medium'

# Use .loc to find rows where the condition is true and set the new value
housing_df.loc[housing_df['housing_median_age'] < 15, 'age_group'] = 'New'
housing_df.loc[housing_df['housing_median_age'] > 35, 'age_group'] = 'Old'

# Check the result
print(housing_df[["housing_median_age", "age_group"]].head())

# Group by 'age_group', find the mean of all columns, then select the 'median_house_value' column
housing_df.groupby('age_group').mean()['median_house_value']

   housing_median_age age_group
0                15.0    Medium
1                19.0    Medium
2                17.0    Medium
3                14.0       New
4                20.0    Medium

age_group
Medium    202933.104632
New       194806.651364
Old       220851.947216
Name: median_house_value, dtype: float64

Q4 Chaining Methods: In a single line of code, find the median housing_median_age for houses that have a median_house_value of over $450,000.

In [35]:
housing_df.loc[housing_df["median_house_value"]>450000]["housing_median_age"].mean()

np.float64(33.540642722117205)